body {
	align-items: center;
	color: white;
	font-family: "Press Start 2P", monospaced;
	font-size: 50px;
	background-color: black;
	width: 100%;
	height: 100%;
}
.image {
	width: 800px;
	margin-left: 50%;
	margin-top: -700px;
}
.header {
	margin-left: 20%;
	margin-top: 400px;
}
.textFlex {
	font-size: 17px;
	width: auto;
	margin: 0px 100px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100;
	justify-content: space-around;
}
.textFlex h2 {
	/* margin: 70px; */
	width: 600px;
}
h2.right {
	margin-top: 300px;
}
.parallax {
	margin-top: 60%;
}

.img {
	width: 10%;
}
