body {
	align-items: center;
	color: white;
	font-family: "Press Start 2P", monospaced;
	font-size: 50px;
	background-color: black;
	width: 100%;
	height: 100%;
}
h3 {
	font-weight: 100;
	font-size: 20px;
}
h2 {
	font-weight: 100;
	font-size: 20px;
}
.image {
	width: 800px;
	margin-left: 50%;
	margin-top: -700px;
}
.imageRaket {
	margin-top: 45%;
	width: 80%;
	margin-left: 10%;
	transform: translateY(-50%);
}

.home {
	height: 120%;
	position: relative;
	display: flex;
	justify-content: center;
}
.home img {
	width: 100%;
	object-fit: cover;
}
.header {
	font-size: 60px;
	color: #087dbd;
	position: absolute;
	top: 30%;
	margin-left: -7%;
	z-index: 10;
}
.textFlex {
	font-size: 17px;
	width: auto;
	margin: 0px 100px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100;
	justify-content: space-around;
}
.textFlex h2 {
	width: 600px;
}
h2.right {
	margin-top: 300px;
}

.img {
	width: 60%;
}
.TextFlex2 {
	font-size: 17px;
	width: auto;
	margin: 0px 100px 0px 0px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100;
}
.rightDiv {
	margin: 250px 20% 0px 100px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.new-screen {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: rgb(0, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
}

.new-screen img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.newScreenDiv {
	display: flex;
	margin-bottom: 100px;
}
.new-screen h2 {
	font-size: 50px;
}
.new-screen div {
	position: relative;
	z-index: 1;
	color: white;
}
.new-screen h3 {
	text-align: left;
	margin: 0px 90px;
}

.button {
	color: black;
	border: 0;
	background-color: #087dbd;
	font-size: 30px;
	display: flex;
	align-items: center;
}
.button2 {
	color: black;
	border: 0;
	background-color: #087dbd;
	font-size: 30px;
}

.material-icons {
	margin-left: 10px;
}

.circle-overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	background-color: black;
	border-radius: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	transition: width 1s ease-in-out, height 1s ease-in-out;
}

.circle-overlay.expand {
	width: 200vw; /* Tweemaal de breedte van de viewport om alles te bedekken */
	height: 200vh; /* Tweemaal de hoogte van de viewport om alles te bedekken */
}
.material-icons {
	width: 50px;
	font-size: 30px;
}

.animatedTitle {
	position: relative;
	color: black;
	font-size: 50px;
}
.animatieText {
	display: flex;
	justify-content: center;
}
.animatedTitle::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	color: #087dbd;
	border-right: 2px solid #087dbd;
	overflow: hidden;
	animation: animate 6s linear infinite;
}
@keyframes animate {
	0%,
	10%,
	100% {
		width: 0;
	}
	70%,
	90% {
		width: 100%;
	}
}

.textFlex1 {
	font-family: Arial, Helvetica, sans-serif;
	width: auto;
	margin: 0px 100px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	flex-direction: column;
	align-items: center;
}
.textFlex1 h2 {
	font-size: 20px;
}
.TextPicture {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	margin-top: 100px;
	margin: 0px 200px;
}

.TextPicture img {
	width: 45%;
	margin-right: 80px;
}
.TextPicture1 {
	display: flex;
	margin: 50px 200px;
	width: auto;
}
.TextPicture1 h2 {
	flex: 1;
	margin: 0px;
}
.TextPicture1 h2:nth-of-type(1) {
	margin-right: 50px;
}

.earthPng img {
	width: 30%;
	margin-left: 60%;
	margin-top: 15%;
}
.IssPng img {
	width: 20%;
	margin-left: 40%;
	margin-top: 90px;
}
.End {
	background-image: url(../src/assets/starsBackground-copy.png);
	width: 100%;
	height: 180%;
	margin-top: -20%;
	display: flex;
	align-items: center;
	color: white;
	text-align: center;
}
.EndText h1 {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 200px;
}
